.rbc-today{
  background-color: var(--agenda-bg-today) !important;
}

.rbc-day-slot .rbc-time-slot{
  border-top: 1px solid var(--button-agenda-separator-color) !important;
}

.rbc-timeslot-group{
  border-bottom: 1px solid var(--button-agenda-separator-color) !important;
  min-height: 50px !important; 
}

.rbc-toolbar button{
  color: white !important;
}

.rbc-toolbar button:hover{
  transition: background-color 200ms ease-in !important;
  color: #000 !important;
}

.rbc-toolbar button:active, .rbc-toolbar button.rbc-active{
  color: white !important;
  background-color: var(--button-agenda-active-bg) !important;
}

.rbc-toolbar-label{
  color: var(--button-agenda-active-bg) !important;
  font-weight: bold !important;
}

.rbc-current-time-indicator{
  background-color: rgb(219, 20, 20) !important;
}